body{
  background-color: orange;
  font-family: 'Roboto', sans-serif;
}

div.image-container{
  text-align: center;
}

h1 {
   /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;  */
  text-align:center;
  font-family: 'Lobster', cursive;
  color:MediumBlue;
}

.name {background-color: blue;}

p {
  text-align: center;
}
ol {color: MediumBlue;
  font-family: cursive;
}

img#hero {
  width: 500px;
  border: 3px solid purple;
  border-radius: 400px;
}

nav {
  text-align: center;
}

nav a{
  margin: 20px;
}
