body{
  background-color: teal;
  /* background-image: url( https://i.pinimg.com/736x/96/2c/b3/962cb32637a545f1a57073a24c46bcb1--design-paisley-paisley-pattern.jpg);
  background-repeat: repeat-x; */
  font-family: 'Roboto', sans-serif;
}

div.image-container{
  text-align: center;
}

h1 {
   /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;  */
  text-align:center;
  font-family: 'Lobster', cursive;
  color:MediumBlue;
}

h2 {
  text-align:center;
  font-family: 'Lobster', cursive;
  color:MediumBlue;
}

.name {background-color: blue;}

p.first {
  width: 300px;
  margin: 0 auto;
  /* text-align: center;
  text-align: justify; */
  }
ol {color: MediumBlue;
  font-family: cursive;
}

img#hero {
  width: 500px;
  border: 3px solid purple;
  border-radius: 400px;
  margin: 20px;
}

nav {
  text-align: center;
}

nav a{
  margin: 20px;
}

.highlighted {
  background-color: white;
  width: 30%;
}
footer{
  color: red;
  text-align: center;
}

.joseph {
  background-color: white;
  padding: 10px;
  margin: 30px;
}

.about {
  width: 500px;
  text-align: justify;
}

p#date{
  justify-content: center;
}
p.about{

float: right;
margin: 25px 400px 50px 0px;
}

div.joseph{

background-color: teal;

}
/* li a: hover {
    color: white;
} */
